@import "../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
    font-family: 'Cybero';
    src: url('../assets/cybero.ttf');
}

@font-face {
    font-family: 'Cyberdyne';
    src: url('../assets/cyberdynecond.ttf');
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    background-color: black;
}

header {
    font-family: 'Cyberdyne';
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background {
    position: absolute;
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-30px) scale(4.1); 
    margin: 0;

}

.title {
    font-size: 7rem;
	background: linear-gradient(-45deg, #ee6bdc, #58b4ff, #80eca9, #58b4ff, #ff01dd);
    color: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    // text-shadow: 0 0 5px white;
    
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
    // font-size: calc(1.525rem + 3.3vw);
}

// @media (min-width: 1200px) {
//   .title {
//     font-size: 7rem;
//   }
// }
section {
    font-size: 2rem;
    font-family: 'Cyberdyne';
    padding: 2rem;
    // background-color: grey;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

section.first {
    background-color: rgba(aqua, 0.3);
	background: linear-gradient(-45deg, rgba(224, 2, 195, 0.8), rgba(36, 0, 238, 0.8), rgba(35, 166, 213, 0.8), rgba(39, 207, 95, 0.8));
	background-size: 150% 150%;
	animation: gradient 15s ease infinite;
}
section.second {
    background-color: rgba(rgb(228, 0, 0), 0.3);
	background: linear-gradient(225deg, rgba(224, 2, 195, 0.8), rgba(36, 0, 238, 0.8), rgba(35, 166, 213, 0.8), rgba(39, 207, 95, 0.8));
	background-size: 150% 150%;
	animation: gradient 15s ease infinite;
}
section.third {
	background: linear-gradient(-45deg, rgba(224, 2, 195, 0.8), rgba(36, 0, 238, 0.8), rgba(35, 166, 213, 0.8), rgba(39, 207, 95, 0.8));
	background-size: 150% 150%;
	animation: gradient 15s ease infinite;
}



body {
    margin: 0;
}

.navbar {
    font-family: 'Cybero';
    background: rgba(0, 0, 0, 0.6);    
	// background: linear-gradient(-45deg, rgba(224, 2, 195, 0.8), rgba(36, 0, 238, 0.8), rgba(35, 166, 213, 0.8), rgba(39, 207, 95, 0.8));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    position: absolute;
    height: 80px;
    width: 100%;
    z-index: 2;
    
}

// body {
// 	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
// 	background-size: 400% 400%;
// 	animation: gradient 15s ease infinite;
// 	height: 100vh;
// }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@include media-breakpoint-down(lg) {
    .title {
        font-size: 5rem;
    }
  }
@include media-breakpoint-down(md) {
    // .title {
    //     font-size: 2rem;
    // }
  }
  
@include media-breakpoint-down(sm) {
    .title {
        font-size: 4rem;
    }
    .background {
        transform: translateZ(-50px) scale(6.1) translateX(250px); 
        width: 200%;
        object-fit: cover;
    }
    
  }
  